body{
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;
}
input, select{
    cursor: pointer;
}
input::-webkit-input-placeholder{
    font-family: 'Orbitron', sans-serif;;
}
input{
    border-radius: 20px;
    border: none;
    padding: 5px;
    text-align: center;
}
select{
    border:none;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 5px;

    font-family: 'Orbitron', sans-serif;;
}
.container{
    background-color: #17224D;
    max-width: 500px;
    margin: 100px auto;
    height:400PX;
    border-radius:10px;

    display: flex;
    align-items: center;
    flex-direction: column;
}
h1{
    font-size: 20px;
    margin-top: 20px;
}
.bloco-calculadora{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30px 30px ;
    grid-gap: 5px;
    padding: 10px;
    margin-top: 5px;
}
.input-enviar{
    background-color: black;
    color: white;
    font-family: 'Orbitron', sans-serif;;
}
.operacoes{
    height: 29px;
}
.resultado{
    grid-column: 2/4;
    text-align: center;
}

@media screen and (min-width:320px) and (max-width:767px) {
    .container{
        max-width: 300px;
    }
    .bloco-calculadora{
        display: flex;
        flex-direction: column;
    }
}